<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyFilmsPlugin.Properties.Settings.MyFilmsLocalDataCacheConnectionString"
            connectionString="Data Source=|DataDirectory|\MyFilmsLocalDataCache.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>