<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.2" targetFramework="net40" />
  <package id="ILMerge" version="2.13.0307" targetFramework="net40" />
  <package id="MediaBrowser.ApiClient" version="3.0.0.280" targetFramework="net40" />
  <package id="MediaBrowser.Common" version="3.0.290" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
  <package id="RestSharp" version="104.4.0" targetFramework="net40" />
  <package id="TaskScheduler" version="2.0.0" targetFramework="net40" />
  <package id="WebSocket4Net" version="0.8" targetFramework="net40" />
  <package id="xmlrpcnet" version="2.5.0" targetFramework="net35" />
</packages>