<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeForceLib.Picasa" version="2.0" targetFramework="net35" />
  <package id="Google.GData.AccessControl" version="2.2.0.0" targetFramework="net35" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net35" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net35" />
  <package id="Google.GData.Photos" version="2.2.0.0" targetFramework="net35" />
  <package id="Google.GData.YouTube" version="2.2.0.0" targetFramework="net35" />
  <package id="MediaBrowser.ApiClient" version="3.0.0.270" targetFramework="net35" />
  <package id="MediaBrowser.Common" version="3.0.255" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net35" />
  <package id="NLog" version="2.1.0" targetFramework="net35" />
  <package id="NLog.Schema" version="2.1.0" targetFramework="net35" />
  <package id="RestSharp" version="104.4.0" targetFramework="net35" />
  <package id="WebSocket4Net" version="0.8" targetFramework="net35" />
  <package id="xmlrpcnet" version="2.5.0" targetFramework="net35" />
</packages>